html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 14px;
    background: rgba( 49, 202, 240, 0.875);
    font-family: 'Josefin Sans', sans-serif;
}

.photobooth {
    background: white;
    max-width: 150rem;
    margin: 2rem auto;
    border-radius: 2px;
}

.controls {
    background: rgba( 49, 202, 240, 0.283);
}

.light {
    color: yellow;
}

.fa-lightbulb-o {
    cursor: pointer;
}


/*clearfix*/

.photobooth:after {
    content: '';
    display: block;
    clear: both;
}

.photo {
    width: 100%;
    float: left;
}

.player {
    position: absolute;
    top: 20px;
    right: 8px;
    width: 200px;
}

.fa-camera-retro {
    color: rgba( 2, 145, 180, 0.919)
}

.fa-camera-retro:hover {
    color: rgba( 1, 97, 121, 0.955);
    cursor: pointer;
}

.fa-camera-retro:active {
    transform: rotate(359deg);
    transition-duration: 0.5s;
}


/*
  Strip!
*/

.strip {
    padding: 2rem;
}

.strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.strip a:nth-child(5n+1) img {
    transform: rotate(10deg);
}

.strip a:nth-child(5n+2) img {
    transform: rotate(-2deg);
}

.strip a:nth-child(5n+3) img {
    transform: rotate(8deg);
}

.strip a:nth-child(5n+4) img {
    transform: rotate(-11deg);
}

.strip a:nth-child(5n+5) img {
    transform: rotate(12deg);
}